<img src="https://cutewallpaper.org/21/hd-workout-wallpaper/Gym-Workout-Wallpapers-Wallpaper-Cave.jpg" alt="Home!" style="opacity:0.4;">
<div class="GymCreator-container">
    <button mat-flat-button color="primary"   matTooltip="Add new Gym" (click)="createGym()">
        <i class="material-icons">Add</i>
    </button>
</div>

<div class="Leaderboard-container">
    <button mat-flat-button color="primary"   matTooltip="View Leaderboard">
        <i class="material-icons">View Leaderboard</i>
    </button>
</div>

